@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

html,
body {
	background: #192a51;
	height: 100vh;
	width: 100%;
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	color: #e83283;
	line-height: 1.5;
	margin: 0;
	padding: 0;                                                                                   
}
/* HOME PAGE */
.intro-text {
	text-transform: none; /* No capitalization, the text renders as it is (default) */
	font-size: 6.5em;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 0.25em;
	letter-spacing: 0.1em;
	color: #c4adb7;
}
.sub-text {
	text-transform: none; /* No capitalization, the text renders as it is (default) */
	font-size: 5.5em;
	color: #a08ed1;
	margin-bottom: 0.25em;
	font-weight: 800;
}
.text {
	font-size: 2em;
	color: #a08ed1;
}

/* Navigation */

.nav-link {
	font-size: 1.1em;
	font-weight: 500;
	margin: 0 8px;
	color: #a08ed1;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
	color: #e83283;
}

/* About Section */

.about {
	background: #192a51;
	padding-top: 60px;
	padding-bottom: 60px;
	width: 100%;
}

.about h2 {
	font: 24px/30px 'Kaushan Script', cursive;
	color:  #5ecbd7;
	padding-top: 40px;
	margin-bottom: 12px;
	letter-spacing: 2px;
}

.about p {
	font-size: 18px;
	line-height: 30px;
	color: #a7bdf1;
	letter-spacing: 2px;
}

.profile-pic {
	width: 85%;
	height: auto;
	margin-top: 30%;
	margin-left: 20px;
}

.download .btn-custom {
	width: 240px;
	margin-top: 20px;
	background-color: aqua;
}

/* font-awesome icon */
.portfolio .btn-custom {
	position: absolute;
	width: 70px;
	margin-top: 20px;
	opacity: 0.8;
	background-color: #a7cfc9;
	color: #01072e;
	font-size: 20px;
}

/* Portfolio - Projects */
.portfolio {
	background: #192a51;
}

.portfolio h1{
	margin-bottom:2%;
	color:#e83283;
	font-family: 'Kaushan Script', cursive;
}

